gradle-app.setting
.gradle
build
*~
tmp
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse/SBT files
target/

# My SBT script links $HOME/.ivy2 -> .ivyCache IF .ivyCache does not exist
# AND adds the additional JAVA option: -Dsbt.ivy.home=.ivyCache
.ivyCache
